.general {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px ; 
  /* gap: 50px; */
  height: 70vh;
  background-color: white;
  text-align: center;
}
.super h1{
    font-size: 66px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -1px;
    color: black
}
.super p {
    font-size: bold;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    color: black;
    line-height: 1.6;
    margin-bottom: 18px;
    padding-top: 20px;
}
.super_Buttons{
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  /* padding-bottom: 150px; */
}

@media (max-width: 768px) {
    .general{
        background-color: white;
         display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  flex-direction: column;
  padding: 20px ; 
  height: 70vh;
    }
    .super h1{
        font-size: 24px;
    }
    .super_Buttons{
        padding: 10px 20px;
        padding-bottom: 30px;
    }
}