.started{
    width: 100%;
    padding: 140px 0;
     margin-top: 60px; 
}
.both_Started{
    width: 95%;
    background-color: whitesmoke; 
    border-radius: 20px;
    margin: 0 auto;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    /* gap: 20px; */
    /* align-items: center; */
}
.easily {
  /* text-align: left; */
  padding-left: 50px;
  padding: 80px 30px; 
  flex: 1;
}
.easily h1 {
  font-size: 50px;
  font-weight: 700;
  color: black;
  margin-bottom: 25px;
  font-family: 'Inter', sans-serif;
}
.easily p {
  font-size: 20px;
  font-weight: 547;
  color: black;
  line-height: 1.6;
  font-family: 'Inter', sans-serif;
}
.easily_Right{
     padding: 80px 30px;
    flex: 1; 
     display: flex;
    justify-content: flex-end;
    flex-direction: column;
    gap: 20px;
}
.asana_Demo,
.discover,
.temp{
    width: 500px;
    background: white;
    border-radius: 10px;
    padding: 30px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid whitesmoke;
    cursor: pointer;
    transition: all 0.4s ease;
}
.asana_Demo:hover,
.discover:hover,
.temp:hover {
    background: whitesmoke;
     /* border: 1px solid whitesmoke; */
}
.demo_Text h2,
.discover_Text h2,
.temp_Text h2 {
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 8px;
}

.demo_Text p,
.discover_Text p,
.demo_Text p {
    font-size: 18px;
    font-weight: bold;
    color: gray;
}
.arrow3 {
    border-radius: 50%;
    width: 38px;
    height: 38px;
    cursor: pointer;
    font-size: 30px;
    font-weight: 500;
    background-color: black;
    color: white;
}

@media (max-width: 768px) {
    .both_Started {
        flex-direction: column;
}
}
@media (max-width: 480px) {
 .started {
        margin-top: 150px;
    }
.asana_Demo,
.discover,
.temp{
     max-width: 320px;
     }
}